.header {
  position: sticky;
  z-index: 120;
  top:0;
  transition: background-color 0.3s ease;
  &.fixed {
    background-color: #18455d; /* Change this to your desired background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow when fixed */
  }
  .offcanvasnavbar{
    display: none ;
  }

  a {
    position: relative;
    color: white !important;
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 4px;
      width: 100%;
      left: 0;
      background-color: #18455D;
      transition: 0.4s;
      transition-timing-function: ease-in-out;
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
  .dropdown-menu {
    // z-index: 120;
    background-color: #18455D !important;
    border: 2px solid #18455D !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  }
}
.hero {
  background-image: url('./Media/graphic-designers-meeting.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: black;
  color: white;

  height: 110vh;
  // z-index: 1;
  overflow: hidden;
  position: relative;
  margin-top: -80px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    opacity: .3;
    background-color: rgba(0, 0, 0, 3.7);
    mix-blend-mode: Luminosity;
  }

  .hero1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 110;
    height: 140vh;
    // position: absolute;
  }

  h1 {
    font-weight: 600;
    // font-size: 40px !important;
    z-index: 100;
  }

  h4 {
    font-size: 36px;
  }

  .btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#18455D;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }
}
.service-col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // height: 90vh;
  .btn {
    background-color: #18455D !important;
    // border: none !important;
    color: white !important;
    padding: 20px 50px 20px 50px;
    z-index: 10;

    // position: absolute;
    &:hover {
      background-color: transparent !important;
      border: 2px solid #18455D;
      color: #18455D !important;
    }
  }
}
.founded {
  background-image: url('./Media/counterbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .card {
    background-color: transparent;
    // border-radius: 35px;
    border: none;
    color: white;

  }

  .rocket {
    width: 70px;
    /* Adjust the width and height as needed */
    height: 70px;
    background-color: white;
    /* Change this to your desired background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #18455D;
    // width: 90px;
  }

  .rocicon {
    // background-color: white;
    color: #18455D;
    // border-radius: 50%;
    // padding: 10px;
  }
}
.what {
  background-color: #18455D;
  background-image: url('./Media/04.png');
  background-repeat: no-repeat;
  background-position: top right;
  color: white;

  .what1 {
    background-image: url('./Media/06.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    // transform: rotate(90deg);

  }
  .card-footer{
    background-color: transparent !important;
    border-top: none !important;
    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
     }
     
     button.learn-more {
      width: 12rem;
      height: auto;
     }
     
     button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #18455D;
      border-radius: 1.625rem;
     }
     
     button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
     }
     
     button.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;
     }
     
     button.learn-more .circle .icon.arrow::before {
      position: absolute;
      content: "";
      top: -0.29rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
     }
     
     button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
     }
     
     button:hover .circle {
      width: 100%;
     }
     
     button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0);
     }
     
     button:hover .button-text {
      color: #fff;
     }
  }

  .whatwedo {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: white;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 120px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: white;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: white;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      60% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }

  .carousal-row {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .card {
    // height: 230px;
    // box-shadow: #3498db;
    width: 300px;
    border: none !important;
    border-radius: 15px;

    img {
      width: 300px;
    }

  }

  .card-body {
    padding: 0 30px 37px 30px;
  }

  .service-icon {
    // display: inline;
    width: 120px;
    height: 120px;
    padding: 20px;
    line-height: calc(var(--icon-size, 120px) - var(--icon-shape, 10px) * 2);
    text-align: center;
    background-color: whitesmoke;
    border: 10px solid white;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin-top: calc(var(--icon-size, 120px) / -2);

    img {
      display: block;
    }
  }

  .web {
    width: 90px;
    /* Adjust the width and height as needed */
    height: 90px;
    background-color: #18455D;
    /* Change this to your desired background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

  }

  .arrow-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 30px;
  }
  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    // margin-bottom: 100px;
  }
  .arrow {
    color: white;
  }
  .card-img {
    margin-bottom: 0px;
    background-color: transparent !important;
    border: none;

  }
  .arrow-left:hover,
  .arrow-right:hover {
    background-color: #171938;

  }

  .arrow:hover {
    color: white;
  }

  .craousalcontainer {
    margin-left: 110px;
    margin-right: 110px;
    overflow: hidden !important;
  }

  .carousal-container {
    overflow: hidden;
  }
}
.contactus {
  .card1 {
    // background-color: #18455D;
    border: none !important;
    color: #18455D;
  }

  .card2 {
    background-color: #18455D;
    border: none !important;
  }

 .rocket {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #18455D;
}
  .contact-row{
    padding: 0px 35px;
  }
.phonenumber{
  width: 100%;
  // padding: 25px 10px;
  border: 1px solid lightgray !important;
  border-radius: 5px;
  padding: 0px 10px;
}
.PhoneInputInput{
  height: 52px !important;
  border: none !important;
  &:focus{
    outline: none !important;
  }
}
  .sendbutton{
      font-family: inherit;
      font-size: 18px;
      // background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
      background-color: #18455D;
      color: white;
      padding: 0.8em 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 25px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
    
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      }
    
      &:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    
      span {
        display: block;
        margin-left: 0.4em;
        transition: all 0.3s;
      }
    
      svg {
        width: 18px;
        height: 18px;
        fill: white;
        transition: all 0.3s;
      }
    
      .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 0.5em;
        transition: all 0.3s;
    
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    
      &:hover .svg-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
      }
    
      &:hover svg {
        transform: rotate(45deg);
      }
    
    
  }

 
  .working {
    position: relative;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #18455D;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 120px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #dedede;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: #18455D;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      60% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }
  .contact{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #18455D;
    // justify-content: center;
  }
  .social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    background-color: #18455D;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    // background: #18455D;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #twitter svg {
    fill: white;
  }
  
  #linkedin svg {
    fill: white;
  }
  
  #github {
    fill: white;
  }
  


}
.footer {
  background-color: #18455D;
  background-image: url('./Media/04.png');
  background-repeat: no-repeat;
  background-position: top right;
  color: white;

  .footer1 {
    background-image: url('./Media/06.png');
    background-repeat: no-repeat;
    background-position: bottom left;

  }

  h4 {
    cursor: pointer !important;
    font-weight: 500;
  }
  ul {
    cursor: pointer;

    li {

      font-weight: 500 !important;
      a{
        text-decoration: none !important;
        color: white;
      }

    }
  }
}
.navbar-toggler {
  background-color: white !important;
}
.aboutus {
  color: #18455D;

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  span {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #18455D;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 110px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #dedede;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: #18455D;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      50% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }

  .about1 {
    position: relative;

    .about11 {
      &::before {
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translateY(-50%);
        border: 3px solid #18455D;
        width: 184px;
        height: 428px;
        z-index: 10;
        content: ''; // Add some content, even an empty space
        display: inline-block; // Ensure it has dimensions
      }

      img {
        position: absolute;
        right: 0;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);

        z-index: 100;

      }
    }
  }

  .about-icon {
    background-color: #18455D;
    border-radius: 50%;
    // padding: 10px;

  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}
.chooseus {
  background-image: url('./Media/whychooseus.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: center left;
  // height: 94vh;

  color: white;
  margin-top: 50px !important;
  // margin-bottom: 100px;

  .mysvgimg {
    width: 100px;
  }

  .mychoseusimg {
    display: flex;
    flex-direction: column;
  }

  .why {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: white;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 150px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #dedede;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: white;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      60% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }

  .choose {
    background-color: #18455D;
    background-image: url('./Media/bg-07.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    // height: 100vh;
    margin-top: -35px;

  }
  .card{
    height: 300px;
    margin: 0px 2px;
    img{
      width: 70px;
    }
  }
  .arrow-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 30px;
  }
  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none !important;
    color: white;
    font-size: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    // align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    // margin-bottom: 100px;
  }
  .arrow {
    color: white;
  }
  .card-img {
    margin-bottom: 0px;
    background-color: transparent !important;
    border: none;

  }
  .arrow-left:hover,
  .arrow-right:hover {
    // background-color: #171938;
    color: #18455D !important;

  }
  .arrow:hover {
    color: white;
  }

  .craousalcontainer {
    margin-left: 110px;
    margin-right: 110px;
    overflow: hidden !important;
  }

  .carousal-container {
    overflow: hidden;
  }
}
.workingprocedure {
  // background-color: #18455D; #072A40
  color: #18455D;

  h2 {
    color: #18455D;
  }

  .working {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #18455D;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 150px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #dedede;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: #18455D;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      60% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }

  .processline {
    position: absolute;
    left: 0;
    // top: 25px;
    margin-top: 45px;
    right: 0;
    z-index: -1;

    // transform: rotate(-5deg);
    img {
      // height: auto;
      max-width: 85%;
      // border: none;
      // border-radius: 0;
      // box-shadow: none;
      // margin-bottom: 40px;
    }

  }

  .process-design {
    &:hover {
      .one {
        background-color: #18455D;
      }
    }

    .thumb {
      position: relative;
      display: inline-block;

      span {
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: #e74860;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-weight: 900;
        font-size: 22px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        margin-bottom: 0px;
        // transition: all 0.5s ease-in-out;
        bottom: 20px;
        left: -5px;
      }

      .process01 {
        border-radius: 50%;
        width: 170px;
        transition: all 0.35s ease-in-out;
        margin-bottom: 20px;

        &:hover {
          // transform: scale(1);
          width: 100%;
          transition: all 0.35s ease-in-out;
        }
      }
      
    }
  }
  .process-design1 {

    .thumb {
      position: relative;
      display: inline-block;

      span {
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: #e74860;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-weight: 900;
        font-size: 22px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        margin-bottom: 0px;
        // transition: all 0.5s ease-in-out;
        right: 1px;
        bottom: -5px;
      }

      .process01 {
        border-radius: 50%;
        width: 170px;
        transition: all 0.35s ease-in-out;
        margin-bottom: 20px;

        &:hover {
          // transform: scale(1);
          width: 100%;
          transition: all 0.35s ease-in-out;
        }
      }
      
    }
  }
  .process-design2 {
    &:hover {
      .one {
        background-color: #18455D;
      }
    }

    .thumb {
      position: relative;
      display: inline-block;

      span {
        display: inline-block;
        text-align: center;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: #e74860;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-weight: 900;
        font-size: 22px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        margin-bottom: 0px;
        // transition: all 0.5s ease-in-out;
        right: 1px;
        top: -5px;
      }

      .process01 {
        border-radius: 50%;
        width: 170px;
        transition: all 0.35s ease-in-out;
        margin-bottom: 20px;

        &:hover {
          // transform: scale(1);
          width: 100%;
          transition: all 0.35s ease-in-out;
        }
      }
      
    }
  }

  .process {
    border-radius: 50%;
  }

  p {
    font-size: 17px;
    font-weight: 500;
  }

  h4 {
    font-weight: 700 !important;
  }
}
.feedback {
  background-color: #18455D;
  background-image: url('./Media/04.png');
  background-repeat: no-repeat;
  background-position: top right;
  color: white;

  .feedback1 {
    background-image: url('./Media/06.png');
    background-repeat: no-repeat;
    background-position: bottom left;

  }
  .whatwedo {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: white;
    z-index: 9;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 120px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: white;
    }

    &::after {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50px;
      background-color: white;
      right: 0;
      left: auto;
      bottom: -3px;
      animation: moveCircle 4s linear infinite;
    }

    @keyframes moveCircle {

      0%,
      100% {
        left: 0;
      }

      60% {
        left: calc(100% - 8px);
        /* Width of the circle */
      }
    }
  }
  img{
    border-radius: 50%;
    width:100px;
  }

  
}
.react-faq{
  .styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-bottom: none !important;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_row-title-text__1MuhU{
    font-weight: 600;
  }
}

/* ScrollToTopButton.css */

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: opacity 0.7s;
  z-index: 500;
  
  &:hover {
    background-color: white;
    color: #18455d;
  }
}
.visible {
  display: block;
}


@media screen and (max-width: 600px) {
  .herobtn {
    display: flex;
    flex-direction: column;
  }

  .founded {
    .foundcard {
      display: flex;
      flex-direction: column;
      // line-height: 3;
    }
  }

  .rocicon {
    width: 40px !important;
  }

  .contact-detail {
    display: flex;
    flex-direction: column !important;
  }

  .rocket {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: white !important;
  }

  .rocicon {
    color: #18455D !important;
    background-color: white !important;
    // border-radius: 50%;
    // padding: 10px;
  }

  .aboutus {
    .about11 {
      display: none !important
    }
  }

  .what {
    .carousal-row {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }

    .card {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }


  }
  .contactus{
    .ract-input{
      display: flex;
      gap: 4px !important;
    flex-direction: column !important;
    
    
    }
    .contact-row{
      padding: 0px 0px;
    }
    .contact-row{
      padding: 0px 0px;
    }
    

  }

  .header{
    
    .offcanvasnavbar{
      display: block !important;

      .offcanvas.show{
        background-color: #18455d; /* Change this to your desired background color */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow when fixed */
      }
      .offcanvas-header .btn-close{
        background-color: white;
        margin-bottom: 2px;
        margin-right: 10px;
      }
  
    }
    .main-header{
      display: none !important;
    }
  }
  .chooseus{
    height: auto !important;

    .choose{
      height: auto !important;
    }
    .card{
      height: 340px;
      img{
        width: 55px;
      }
    }
  }

  .feedback{
    .client-feedback{
      width: 100% !important;
    }
    .react-multiple-carousel__arrow--left {
      display: none !important;
    }
    .react-multiple-carousel__arrow--right{
      display: none !important;
    }
    img{
      width: 100px !important;

    }
  }
  .workingprocedure{
    .processline{
      display: none !important;
    }
  }
}

